TOKEN =
URL = 'https://api.telegram.org/bot{token}/{method}'

# methods
UPDATE_METH = 'getUpdates'
SEND_METH = 'sendMessage'

MY_ID =

UPDATE_ID_FILE_PATH = 'update_id'

with open(UPDATE_ID_FILE_PATH) as file:
    UPDATE_ID = file.readline()
